.addOn {
    button {
        all: inherit;
        background-color: var(--button-fill-primary);
        padding: var(--sizing-spacing-small) var(--sizing-spacing-medium);
        font-size: 14px;
        line-height: 20px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        gap: 8px;
        margin: 0;
        border: none;
        border-radius: var(--sizing-spacing-x-small);
        color: white;
        font-weight: 600;
        transition: background-color 200ms, outline 50ms;
        cursor: pointer;
        min-width: 24px;
        min-height: 24px;
        height: fit-content;
        font-family: "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
    }
}