.addOn {
    button {
        all: inherit;
        background-color: var(--button-fill-primary);
        padding: 0 var(--sizing-spacing-medium);
        font-size: 14px;
        margin: 0;
        border: none;
        border-radius: var(--sizing-spacing-x-small);
        color: white;
        font-weight: 600;
        transition: background-color 200ms, outline 50ms;
        cursor: pointer;
        min-width: 24px;
        min-height: 24px;
        font-family: "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
        display: inline-flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 1em;
        height: 36px;
        max-height: 36px;
        width: calc(100% - 1em);
        box-sizing: border-box;
        margin-right: .5em;

        &:hover {
            filter: brightness(1.1)
        }

        &:active {
            filter: brightness(1.2)
        }
    }
}